<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class="container p-3">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">FIND MATERIALS</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="/">Library Search</a></li>
            <li><a routerLink="/">Research Guides</a></li>
            <li><a routerLink="/">Course Reserves sit</a></li>
            <li><a routerLink="/">Databases A-Z</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">INFORMATION FOR</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="/">Undergraduate Students</a></li>
            <li><a routerLink="/">Graduate Students</a></li>
            <li><a routerLink="/">Faculty, Staff and Instructors</a></li>
            <li><a routerLink="/">Alumni, Community and Public</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">GET HELP</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="/">Chat 24x7</a></li>
            <li><a routerLink="/">Contact a Librarian</a></li>
            <li><a routerLink="/">FAQs</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">UO LIBRARIES</h5>
          <p>
            1501 Kincaid Street<br>
            Eugene, OR 97403<br>
            P: 541-346-3053<br>
            F: 541-346-3485
          </p>
          <!-- Social Media -->
          <div class="social-icons">
            <a *ngFor="let social of socialMedia"
               [href]="social.link"
               target="_blank"
               rel="noopener noreferrer"
               class="social-icon">
              <i [class]="social.icon"></i>
            </a>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        <a class="text-white"
           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li>
            <a class="text-white" href="javascript:void(0);"
             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a class="text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
</footer>
