<footer class="footer united-sans">
    <div class="footer-content">
        <div class="left-column">
            <div class="footer-row">
                <div class="cell" id="footer-group-one" aria-labelledby="footer-group-one">
                    <h3>FIND MATERIALS</h3>
                    <a href="https://next.library.uoregon.edu/ask/contact-us">Contact Us</a>
                    <a href="https://next.library.uoregon.edu/accessibility">Library Accessibility</a>
                    <a href="https://next.library.uoregon.edu/administration/uo-libraries-privacy-notices-and-procedures">UO Libraries Privacy Notices and Procedures</a>
                </div>
                <div class="cell" id="footer-group-two" aria-labelledby="footer-group-one">
                    <h3>INFORMATION FOR</h3>
                    <a href="https://next.library.uoregon.edu/ask/contact-us">Contact Us</a>
                    <a href="https://next.library.uoregon.edu/accessibility">Library Accessibility</a>
                    <a href="https://next.library.uoregon.edu/administration/uo-libraries-privacy-notices-and-procedures">UO Libraries Privacy Notices and Procedures</a>
                </div>
                <div class="cell" id="footer-group-three" aria-labelledby="footer-group-one">
                    <h3>GET HELP</h3>
                    <a href="https://next.library.uoregon.edu/ask/contact-us">Contact Us</a>
                    <a href="https://next.library.uoregon.edu/accessibility">Library Accessibility</a>
                    <a href="https://next.library.uoregon.edu/administration/uo-libraries-privacy-notices-and-procedures">UO Libraries Privacy Notices and Procedures</a>
                </div>
            </div>
            <div class="footer-row">
                <div class="cell full-width donation-section">
                    <p class="donation-text">A gift to the UO Libraries has the broadest possible impact on campus, because we serve all
                        students and faculty across all schools, colleges, and disciplines</p>
                </div>
                <div class="cell">
                    <a class="give-now-btn"
                        href="https://giving.uoregon.edu/s/1540/22-it/interior.aspx?sid=1540&amp;gid=2&amp;pgid=2209">GIVE
                        NOW</a>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="contact-address cell">
                <h3>UO LIBRARIES</h3>
                <div>1501 Kincaid Street</div>
                <span itemprop="addressLocality">Eugene</span>, <span itemprop="addressRegion">OR </span>
                <span itemprop="postalCode">97403</span>
                <div class="site-footer__phone-fax">P: <span itemprop="telephone">541-346-3053</span></div>
                <div class="site-footer__phone-fax">F: <span itemprop="faxNumber">541-346-3485</span></div>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/uolibraries" aria-label="Visit us on Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                <a href="https://twitter.com/uolibraries" aria-label="Visit us on Twitter"><i class="fab fa-x-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/c/uolibrarieseugene" aria-label="Visit us on Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/uolibraries/" aria-label="Visit us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="uofooter">
        <div class="bottom-links">
            <a href="https://uoregon.edu/reportaconcern">Report a Concern</a>
            <a href="https://investigations.uoregon.edu/nondiscrimination">Nondiscrimination and Title IX</a>
            <a href="https://uoregon.edu/accessibility">Accessibility</a>
            <a href="https://registrar.uoregon.edu/records_privacy">Privacy Policy</a>
            <a href="https://hr.uoregon.edu/jobs/available-positions">Careers</a>
            <a href="https://uoregon.edu/about">About</a>
            <a href="https://uoregon.edu/findpeople">Find People</a>
        </div>
        <div class="copyright">
        © <a href="#">University of Oregon</a>. All Rights Reserved.
        </div>
    </div>
</footer>