<!-- <footer class="footer">
    <div class="footer-links">
        <a href="https://uoregon.edu/reportaconcern">Report a Concern</a>
        <a href="https://investigations.uoregon.edu/nondiscrimination">Nondiscrimination and Title IX</a>
        <a href="https://uoregon.edu/accessibility">Accessibility</a>
        <a href="https://registrar.uoregon.edu/records_privacy">Privacy Policy</a>
        <a href="https://hr.uoregon.edu/jobs/available-positions">Careers</a>
        <a href="https://uoregon.edu/about">About</a>
        <a href="https://uoregon.edu/findpeople">Find People</a>
    </div>
    <div class="copyright footer-links">
        © <a href="https://uoregon.edu">University of Oregon</a> All Rights Reserved.
    </div>
</footer> -->
<!-- <footer class="footer">
    <div class="footer-content">
    <div class="footer-column">
        <h3>FIND MATERIALS</h3>
        <a href="#">Contact Us</a>
        <a href="#">Library Accessibility</a>
        <a href="#">UO Libraries Privacy Notices and Procedures</a>
    </div>
    <div class="footer-column">
        <h3>INFORMATION FOR</h3>
        <a href="#">Contact Us</a>
        <a href="#">Library Accessibility</a>
        <a href="#">UO Libraries Privacy Notices and Procedures</a>
    </div>
    <div class="footer-column">
        <h3>GET HELP</h3>
        <a href="#">Contact Us</a>
        <a href="#">Library Accessibility</a>
        <a href="#">UO Libraries Privacy Notices and Procedures</a>
    </div>
    <div class="footer-column">
        <h3>GET HELP</h3>
        <a href="#">Contact Us</a>
        <a href="#">Library Accessibility</a>
        <a href="#">UO Libraries Privacy Notices and Procedures</a>
    </div>
    <div class="float-right footer-column-right">
        <h3>UO LIBRARIES</h3>
        <p>1501 Kincaid Street</p>
        <p>Eugene, OR 97403</p>
        <p>P: 541-346-3053</p>
        <p>F: 541-346-3485</p>
        <div class="social-icons">
        <a href="#" class="icon-facebook"></a>
        <a href="#" class="icon-twitter"></a>
        <a href="#" class="icon-youtube"></a>
        <a href="#" class="icon-instagram"></a>
        </div>
    </div>
    </div>
    <div class="donation-section">
    <p>A gift to the UO Libraries has the broadest possible impact on campus, because we serve all students and faculty across all schools, colleges, and disciplines</p>
    <button class="give-now-button">GIVE NOW</button>
    </div>
</footer>

<footer class="footer1">
    <div class="footer-links1">
        <a href="https://uoregon.edu/reportaconcern">Report a Concern</a>
        <a href="https://investigations.uoregon.edu/nondiscrimination">Nondiscrimination and Title IX</a>
        <a href="https://uoregon.edu/accessibility">Accessibility</a>
        <a href="https://registrar.uoregon.edu/records_privacy">Privacy Policy</a>
        <a href="https://hr.uoregon.edu/jobs/available-positions">Careers</a>
        <a href="https://uoregon.edu/about">About</a>
        <a href="https://uoregon.edu/findpeople">Find People</a>
    </div>
    <div class="copyright1 footer-links1">
        © <a href="https://www.uoregon.edu/">University of Oregon</a> All Rights Reserved.
    </div>
</footer> -->

<footer class="footer">
    <div class="footer-content">
      <div class="footer-column">
        <h3>FIND MATERIALS</h3>
        <a href="https://next.library.uoregon.edu/ask/contact-us">Contact Us</a>
        <a href="https://next.library.uoregon.edu/accessibility">Library Accessibility</a>
        <a href="https://next.library.uoregon.edu/administration/uo-libraries-privacy-notices-and-procedures">UO Libraries Privacy Notices and Procedures</a>
      </div>
      <div class="footer-column">
        <h3>INFORMATION FOR</h3>
        <a href="https://next.library.uoregon.edu/ask/contact-us">Contact Us</a>
        <a href="https://next.library.uoregon.edu/accessibility">Library Accessibility</a>
        <a href="https://next.library.uoregon.edu/administration/uo-libraries-privacy-notices-and-procedures">UO Libraries Privacy Notices and Procedures</a>
      </div>
      <div class="footer-column">
        <h3>GET HELP</h3>
        <a href="https://next.library.uoregon.edu/ask/contact-us">Contact Us</a>
        <a href="https://next.library.uoregon.edu/accessibility">Library Accessibility</a>
        <a href="https://next.library.uoregon.edu/administration/uo-libraries-privacy-notices-and-procedures">UO Libraries Privacy Notices and Procedures</a>
      </div>
      <div class="footer-column">
      </div>
      <div class="footer-column footer-column-right footer-section footer-address">
        <h3>UO LIBRARIES</h3>
        <p>1501 Kincaid Street</p>
        <p>Eugene, OR 97403</p>
        <p>P: 541-346-3053</p>
        <p>F: 541-346-3485</p>
        <div class="social-media">
            <a href="https://www.facebook.com/uolibraries"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/uolibraries"><i class="fab fa-x-twitter"></i></a>
            <a href="https://www.youtube.com/c/uolibrarieseugene"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/uolibraries/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="donation-section">
        <p class="donation-text float-left">
          A gift to the UO Libraries has the broadest possible impact on campus,
          because we serve all students and faculty across all schools, colleges, and
          disciplines
        </p>
        <a class="give-now-button" href="https://giving.uoregon.edu/s/1540/22-it/interior.aspx?sid=1540&amp;gid=2&amp;pgid=2209">GIVE NOW</a>
    </div>
  </footer>
  <div class="utfooter">
    <div class="bottom-links">
        <a href="https://uoregon.edu/reportaconcern">Report a Concern</a>
        <a href="https://investigations.uoregon.edu/nondiscrimination">Nondiscrimination and Title IX</a>
        <a href="https://uoregon.edu/accessibility">Accessibility</a>
        <a href="https://registrar.uoregon.edu/records_privacy">Privacy Policy</a>
        <a href="https://hr.uoregon.edu/jobs/available-positions">Careers</a>
        <a href="https://uoregon.edu/about">About</a>
        <a href="https://uoregon.edu/findpeople">Find People</a>
    </div>
    <div class="copyright">
    © <a href="#">University of Oregon</a>. All Rights Reserved.
    </div>
</div>
