<footer class="footer">
    <div class="footer-links">
        <a href="https://uoregon.edu/reportaconcern">Report a Concern</a>
        <a href="https://investigations.uoregon.edu/nondiscrimination">Nondiscrimination and Title IX</a>
        <a href="https://uoregon.edu/accessibility">Accessibility</a>
        <a href="https://registrar.uoregon.edu/records_privacy">Privacy Policy</a>
        <a href="https://hr.uoregon.edu/jobs/available-positions">Careers</a>
        <a href="https://uoregon.edu/about">About</a>
        <a href="https://uoregon.edu/findpeople">Find People</a>
    </div>
    <div class="copyright footer-links">
        © <a href="https://uoregon.edu">University of Oregon</a> All Rights Reserved.
    </div>
</footer>