@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;
  }
  .header {
    background-color: var(--ds-header-bg);
  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: var(--ds-header-logo-height-xs);
  }
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
}

.navbar-toggler {
  color: var(--ds-header-icon-color);

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

header .navbar-default {
  height: inherit;
  background-color: hsl(158, 60%, 17.5%);
}

header .navbar {
  color: #9d9d9d;
  margin-bottom: 0px;
  border: none;
}

header .navbar-default .navbar-brand {
  color: #eee;
  height: inherit;
}


#uolib-logo > img {
  height: 35px;
}
// #uolib-logo {
//   display: inline-block;
//   position: relative;
//   top: 5px;
// }