@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;
  }
  .header {
    background-color: var(--ds-header-bg);
  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: var(--ds-header-logo-height-xs);
  }
}

.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
}

.navbar-toggler {
  color: var(--ds-header-icon-color);

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

header .navbar-ul {
  background-color: #104735;
}

header .navbar-ds {
  background: linear-gradient(0deg, rgb(0, 112, 48) 25%, rgb(16, 71, 53) 135%);
  background-color: #007030;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .navbar {
  color: #9d9d9d;
  margin-bottom: 0px;
  border: none;
}

header .navbar-default .navbar-brand {
  color: #eee;
  height: inherit;
}

#uolib-logo > img {
  height: 37px;
  // width: 180px;
  display: block;
  max-width: 200px;
}

// #uolib-logo > h2 {
//   margin: 5px;
// }

.text-yellow {
  color: #fee11a;
}

.site-header {
	font-size: clamp(1.75rem,3vw,3.125rem);
	line-height: clamp(1.9rem,3vw,3rem);
	font-family: var("United Serif","Source Serif Variable",Times,"Times New Roman",Georgia,"DejaVu Serif",serif);
	margin: 0;
  padding-bottom: 2px
}

// .site-header__content {
// 	display: grid;
// 	grid-auto-columns: min-content;
// 	grid-template-columns: auto 1fr auto;
// 	grid-template-rows: auto auto auto;
// 	max-width: 1200px;
// 	padding: 0 15px;
// 	margin: 0 auto;
// }

h1, h2, h3, h4, h5, h6 {
	// color: var(--fg-d,var(--uowdf-theme-text-dark,black)) var(--fg-l,var(--uowdf-theme-text-light,white));
	font-weight: 400;
	font-variation-settings: "wght" 400,"wdth" 100,"ital" 0;
	font-family: var("United Serif","Source Serif Variable",Times,"Times New Roman",Georgia,"DejaVu Serif",serif);
}
