<header class="header">
  <div role="navigation" class="navbar-ul">
      <div class="container">
          <div class="navbar-header">
            <a id="uolib-logo" href="https://library.uoregon.edu">
              <img class="img-responsive" src="assets/dspace/images/libraries.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
            </a>
          </div>
      </div>
  </div>
  <div role="navigation" class="navbar navbar-default navbar-ds navbar-static-top">
      <div class="container">
          <div class="navbar-header">
            <a routerLink="/home">
              <h1 class="text-yellow united-Serif-variable site-header">{{ siteHeader }}</h1>
              <!-- <h2 class="font-weight-bold text-yellow united-Serif-regular">{{ siteHeader }}</h2> -->
            </a>
          </div>
      </div>
  </div>

  <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="container navbar navbar-expand-md px-0">
    <div class="d-flex flex-grow-1 ml-auto justify-content-end align-items-center">
      <ds-themed-search-navbar></ds-themed-search-navbar>
      <ds-lang-switch></ds-lang-switch>
      <ds-context-help-toggle></ds-context-help-toggle>
      <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
      <ds-impersonate-navbar></ds-impersonate-navbar>
      <div class="pl-2">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                aria-controls="collapsingNav"
                aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
          <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>
  <ds-themed-navbar></ds-themed-navbar>

</header>
