<div *ngIf="scope.type==='site'">
  <div class="flex-container1">
    <div class="row">
      <div class="flex-item flex-item-1 icon-box">
        <canvas id="chartDoughnut" width="300" height="200"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="flex-item flex-item-2 icon-box">
        <canvas id="myChart" width="500" height="200"></canvas>
      </div>
    </div>

    <div class="row">
      <div class="flex-item_table icon-box">
        <h2 class="table-title">Pageviews and Downloads 6 Months</h2>
        <div class="table-header">
          <div class="header-cell title-cell">
            Month
          </div>
          <div class="header-cell pageviews-cell">
            Pageviews
          </div>
          <div class="header-cell pageviews-cell">
            Downloads
          </div>
        </div>
        <div class="table-body">
          <div class="table-row" *ngFor="let item of labels1; let i = index">
            <div class="table-cell title-cell">{{ item }}</div>
            <div class="table-cell pageviews-cell">{{ formatNumber(chartData6monPageviews1[i]) }}</div>
            <div class="table-cell pageviews-cell">{{ formatNumber(chartData6monDownloads1[i]) }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="flex-item full-width-item icon-box">
        <canvas id="myChart2" width="800" height="240"></canvas>
      </div>
    </div>
  </div>
</div>

<div *ngIf="scope.type==='community' || scope.type==='collection'">
  <div class="flex-container2">
    <div class="row">
      <div class="flex-item flex-item-1 icon-box">
        <div class="chart-container">
          <canvas id="chartDoughnut"></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="flex-item flex-item-2 icon-box">
        <canvas id="myChart" width="500" height="200"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="flex-item_table icon-box">
        <h2 class="table-title">Pageviews and Downloads 6 Months</h2>
        <div class="table-header">
          <div class="header-cell title-cell">
            Month
          </div>
          <div class="header-cell pageviews-cell">
            Pageviews
          </div>
          <div class="header-cell pageviews-cell">
            Downloads
          </div>
        </div>
        <div class="table-body">
          <div class="table-row" *ngFor="let item of labels1; let i = index">
            <div class="table-cell title-cell">{{ item }}</div>
            <div class="table-cell pageviews-cell">{{ formatNumber(chartData6monPageviews1[i]) }}</div>
            <div class="table-cell pageviews-cell">{{ formatNumber(chartData6monDownloads1[i]) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="scope.type==='item'">
  <div class="flex-container2">
    <div class="row">
      <div class="flex-item flex-item-1 icon-box">
        <ng-container *ngIf="!chartData3">
          <ds-themed-loading></ds-themed-loading>
        </ng-container>
        <div class="chart-container">
          <canvas id="chartDoughnut"></canvas>
        </div>
      </div>
      <div class="flex-item flex-item-2 icon-box">
        <canvas id="myChart" width="500" height="200"></canvas>
      </div>
    </div>
  </div>
</div>

<div *ngIf="scope.type==='site' || scope.type==='community' || scope.type==='collection'">
  <ng-container *ngIf="!countryData">
    <ds-themed-loading></ds-themed-loading>
  </ng-container>
  <div class="row icon-box">
    <div>
      <h2 class="map-title">Country Downloads</h2><span>(Click on the countries on the map to view the data.)</span>
    </div>
    <div class="map-container">
      <div id="map" class="map"></div>
    </div>
  </div>

  <div class="flex-container_table">
    <div class="row">
      <div class="flex-item_table icon-box">
        <h2 class="table-title">Country Downloads</h2>
        <div class="table-header">
          <div class="header-cell2 country-cell">
            Country
          </div>
          <div class="header-cell2 downloads-cell">
            Downloads
          </div>
          <div class="header-cell2 country-cell">
            Country
          </div>
          <div class="header-cell2 downloads-cell">
            Downloads
          </div>
        </div>
        <ng-container *ngIf="!countryTableData">
          <ds-themed-loading></ds-themed-loading>
        </ng-container>
        <div class="table-body">
          <div class="table-row" *ngFor="let row of countryTableData">
            <div class="table-cell2 country-cell">{{row.country1}}</div>
            <div class="table-cell2 downloads-cell">{{formatNumber(row.downloads1)}}</div>
            <div class="table-cell2 country-cell">{{row.country2}}</div>
            <div class="table-cell2 downloads-cell">{{formatNumber(row.downloads2)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="scope.type==='item'">
  <div class="row icon-box">
    <div>
      <h2 class="map-title">Country Views</h2><span>(Click on the countries on the map to view the data.)</span>
    </div>
    <div class="map-container">
      <div id="map" class="map"></div>
    </div>
  </div>

  <div class="flex-container_table">
    <div class="row">
      <div class="flex-item_table icon-box">
        <h2 class="table-title">Country Views</h2>
        <div class="table-header">
          <div class="header-cell2 country-cell">
            Country
          </div>
          <div class="header-cell2 downloads-cell">
            Views
          </div>
          <div class="header-cell2 country-cell">
            Country
          </div>
          <div class="header-cell2 downloads-cell">
            Views
          </div>
        </div>
        <ng-container *ngIf="!countryTableData">
          <ds-themed-loading></ds-themed-loading>
        </ng-container>
        <div class="table-body">
          <div class="table-row" *ngFor="let row of countryTableData">
            <div class="table-cell2 country-cell">{{row.country1}}</div>
            <div class="table-cell2 downloads-cell">{{formatNumber(row.downloads1)}}</div>
            <div class="table-cell2 country-cell">{{row.country2}}</div>
            <div class="table-cell2 downloads-cell">{{formatNumber(row.downloads2)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="scope.type==='site' || scope.type==='community' || scope.type==='collection'">
  <div class="flex-container_table">
    <div class="row">
      <div class="flex-item_table icon-box">
        <h2 class="table-title">Top 10 Items with the Most Pageviews</h2>
        <div class="table-header">
          <div class="header-cell title-cell">
            Title
          </div>
          <div class="header-cell author-cell">
            Author
          </div>
          <div class="header-cell pageviews-cell">
            Pageviews
          </div>
        </div>
        <div class="table-body">
          <div class="table-row" *ngFor="let item of itempageviews">
            <div class="table-cell title-cell"><a [routerLink]="['/items', item.title]">{{ truncateString((getLabel(item.title) | async), 75) }}</a></div>
            <ng-container *ngVar="(getItem(item.title) | async)?.firstMetadataValue(['dc.contributor.author']) as authorName">
              <div class="table-cell author-cell">
                <a [routerLink]="['/search']"
                   [queryParams]="{
                     'f.author': authorName + ',equals',
                     'spc.page': '1'
                   }">
                {{ authorName }}
                </a>
              </div>  
            </ng-container>
            <div class="table-cell pageviews-cell">{{ item.views | number }}</div>
          </div>
        </div>
      </div>
      <div class="flex-item_table icon-box">
        <h2 class="table-title">Top 10 Items with the Most File Downloads</h2>
        <div class="table-header">
          <div class="header-cell title-cell">
            Title
          </div>
          <div class="header-cell author-cell">
            Author
          </div>
          <div class="header-cell pageviews-cell">
            Downloads
          </div>
        </div>
        <div class="table-body">
          <div class="table-row" *ngFor="let item of itemdownloads">
            <div class="table-cell title-cell"><a [routerLink]="['/items', item.title]">{{ truncateString((getLabel(item.title) | async), 75) }}</a></div>
            <ng-container *ngVar="(getItem(item.title) | async)?.firstMetadataValue(['dc.contributor.author']) as authorName">
              <div class="table-cell author-cell">
                <a [routerLink]="['/search']"
                   [queryParams]="{
                     'f.author': authorName + ',equals',
                     'spc.page': '1'
                   }">
                {{ authorName }}
                </a>
              </div>
            </ng-container>
            <div class="table-cell pageviews-cell">{{ item.views | number }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="scope.type==='site'">
  <div class="row icon-box">
    <div>
      <h3>Total items</h3>
      <p>This {{scope.type}} has {{formatNumber(allItemCount)}} items</p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="scope.type==='community' || scope.type==='collection'">
  <div class="row icon-box">
    <div>
      <h3>Total items</h3>
      <p>This {{scope.type}} has {{formatNumber(scope.archivedItemsCount)}} items</p>
    </div>
  </div>
</ng-container>