<!-- <ds-themed-home-news></ds-themed-home-news> -->
<div>
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
    <ds-search-form-site [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form-site>
    <ds-themed-top-level-community-group></ds-themed-top-level-community-group>
  </ng-container>
  <!-- <ds-themed-top-level-community-list></ds-themed-top-level-community-list> -->
  <!-- <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list> -->
</div>
